// Formulare
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}


label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-top: 10px;
  font-weight: bold;
}

.form-group {
  display: block;
  margin-bottom:5px;
}

.form-control {
  display: block;
  width: 100%;
  height: $line-height-base;
  padding: 2px 4px;
  font-size: $font-size-base;
  line-height: $line-height-base*1.13;
  color: $text-color-base;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid $brand-primary-grey-light;
  border-radius: $corner-radius;
}