
#search-form {
  margin-top:12px;
}

#new-note {
  text-align: right;
  width: span(12);
}

#searching {
  width: span(6);
  margin-left: span(3)+gutter();
  background-color:#aaa;
  border: 1px solid $border-color;
  z-index:99;
}

#search-results {
  border-top: 1px solid $border-color;
  float: left;
  width: span(12);
  
  ul, ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
  .content {
    margin-top: 0.5em;
  }
}


// In der List-Group sollen die seitlichen Grenzen 
// und der oberste Rand nicht gezeigt werden
.list-group-item {
  margin-bottom:5px;
  
  &:first-child {
    border-top: 0px;
  }
  &:last-child {
    border-bottom: 0px;
  }
  .list-item-content {
    padding-bottom:5px;
  }
  h4 {
    margin-bottom:5px;
  }
}

// Eigene Anpassung an trix-content
// <br> soll einen halben Zeilenabstand erzeugen
.trix-show {
  br{   
    content: "a" !important;
    display: block !important;
    margin-bottom: 0.5em !important;
  }
  
  h1 {
    margin-top: 1em !important;
  }
}

// TODO: Korrekt ausrichten
#related-notes {
  border-top: 1px solid $border-color;
  margin-top: $line-height-computed*3.85;
}

.trix-content {
  pre {
    margin: 10px 0 10px 15px !important;
    overflow:auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    font-family: $font-family-monospace;
  }
  del {
    font-family: $font-family-monospace;
    font-size: $font-size-small;
    font-weight: bold;
    white-space: pre-wrap;
    padding:0 2px 0 2px; 
    color: $brand-primary-grey;
    text-decoration: none; 
  } 
}