// Colors
$brand-primary-red:       #B50000; 
$brand-primary-grey:      #555555; 
$brand-primary-grey-light:#cccccc; 
$brand-primary-grey-dark: #222222; 
$brand-primary-blue:      #0059B3;
$brand-primary-beige1:    #FFFFFF;
$brand-primary-beige2:    #E7E9D1;
$brand-primary-beige3:    #D3D4AA;
$brand-primary:           $brand-primary-red;
$brand-success:           #009A48;
$brand-warning:           #f0ad4e;
$brand-danger:            #d9534f;
$brand-info:              $brand-primary-blue;
$text-color-base:         #222;
$border-color:            $brand-primary-grey-light;
$corner-radius:           3px;

$line-height-base:        1.6 !default;



// Mobile
$mobile-screen-size:            768px;
$desktop-screen-size:           960px;

// Fonts
$font-family-sans-serif:  'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$headings-font-family:    $font-family-base;
$headings-font-weight:    bold;
$headings-line-height:    $line-height-base;
$headings-color:          $text-color-base;
$headings-small-color:    lighten($text-color-base, 20%);

// Font size
$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; 
$font-size-small:         ceil(($font-size-base * 0.85)) !default; 
$font-size-h1:            floor(($font-size-base * 2.4)) !default; 
$font-size-h2:            floor(($font-size-base * 2.15)) !default; 
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; 
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; 
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; 

$btn-font-weight:         normal;

$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; 

// Links
$link-color:              $brand-primary-blue;
$link-hover-color:        lighten($link-color, 5%);

// Navigation
$navbar-inverse-color:     lighten($brand-primary-grey, 20%) !default;
$navbar-inverse-bg:        $brand-primary-grey-dark !default;
$navbar-inverse-border:    darken($navbar-inverse-bg, 20%) !default;
$navbar-height:            60px;
$navbar-link-color:        #aaaaaa;

// Footer
$footer-height:            60px;
