
<header class="site-header">
  <div class="wrap">
    <div class="container">
      <div id="logo">
        <div class="logo">
          <a class="logo" href="/">
            <img title="Back to Start" alt="Start" height="50px" src="/assets/GmTD50-f331dd15b7c9bb94837fd82eabf5d16b0852d4a73be38eb6af1c15ea4f0560af.svg">
          </a>
        </div>
      </div>
      <div id="search-form">
        <form class="form-inline" role="search" action="/notes" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
          <div class="form-group">
            <input autofocus="autofocus" placeholder="Suche nach Titel oder Schlagworten" class="form-control ui-autocomplete-input" type="search" size="80" name="s" id="note_keywords" autocomplete="off">
          </div>
        </form>
      </div>
      
      <div id="nav">
        <nav class="nav">
          <ul class="nav">
            <li>
              <a class="toggle-nav fa fa-bars" href="#"></a>
            </li>
          </ul>
          <div class="nav-mobile">
            <ul class="nav">
              <li>
                <a href="#">
                  <i class="fa fa-book"></i>
                  Projekte
                </a>
              </li>
              <li>
                <a href="/tasks">
                  <i class="fa fa-check"></i>
                  Aufgaben
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>