<div class="container">
  {{page-header icon="check" title="Aufgaben"}}
</div>
<div id="tasks">
  <div class="content-33">
    <h4>
      {{fa-icon "square-o"}}To Do
    </h4>
    <div class="column ui-sortable" id="status-0">
      <div class="task" id="task-17">
        <h5 class="ui-sortable-handle">
          <strong>
            <i class="fa fa-square-o" id="task-status-17"></i>
          </strong>
          Beatae est architecto enim accusanti...
          <div class="task-menu">
            <a class="toggle-nav fa fa-bars" href="javascript:$('#dialog').dialog('open');"></a>
          </div>
        </h5>
        <div>
          <div class="due-date">
            <a href="#">
              <i class="fa fa-calendar"></i>
              29.11.2016
            </a>
          </div>
          <small>
            Aut dignissimos ullam sit officia rerum commodi consectetur earum totam nobis in natus reprehenderit accusamus iste aut mollitia perspiciatis et temporibus modi quo distinctio labore est facere volupta...
          </small>
        </div>
      </div>
      <div class="task" id="task-16">
        <h5 class="ui-sortable-handle">
          <strong>
            <i class="fa fa-square-o" id="task-status-16"></i>
          </strong>
          Nihil corporis in.
          <div class="task-menu">
            <a class="toggle-nav fa fa-bars" href="javascript:$('#dialog').dialog('open');"></a>
          </div>
        </h5>
        <div>
          <div class="due-date">
            <a href="#">
              <i class="fa fa-calendar"></i>
              03.12.2016
            </a>
          </div>
          <small>
            Quibusdam ipsam accusamus voluptatem aut ratione voluptatibus blanditiis laborum ab doloremque nisi vel ea nihil eaque exercitationem qui optio incidunt aut error nostrum molestiae non voluptatem aliqu...
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="content-33">
    <h4>
      {{fa-icon "pencil-square-o"}}In Arbeit
    </h4>
    <div class="column ui-sortable" id="status-1">
      <div class="task" id="task-1">
        <h5 class="ui-sortable-handle">
          <strong>
            <i class="fa fa-pencil-square-o" id="task-status-1"></i>
          </strong>
          Quisquam omnis qui et quibusdam esse...
          <div class="task-menu">
            <a class="toggle-nav fa fa-bars" href="javascript:$('#dialog').dialog('open');"></a>
          </div>
        </h5>
        <div>
          <div class="due-date">
            <a href="#">
              <i class="fa fa-calendar"></i>
              29.11.2016
            </a>
          </div>
          <small>
            Qui nulla velit nihil impedit iusto architecto optio officiis dolorem rerum quis et exercitationem cupiditate ipsa ut voluptate id vel distinctio suscipit maxime quasi nobis dolor itaque iure et et non...
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="content-33-last">
    <h4>
      {{fa-icon "check-square-o"}}Erledigt
    </h4>
    <div class="column ui-sortable" id="status-2">
    </div>
  </div>
</div>